.custom-input {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;

  background-color: var(--input-bg);
  color: var(--input-text);

  border: 1px solid var(--input-border);
  border-radius: 8px;

  outline: none;
  transition: all 0.2s ease;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:hover:not(:disabled) {
    border-color: var(--input-border-focus);
  }

  &:focus {
    border-color: var(--input-border-focus);
    border-width: 2px;
    padding: 11px 15px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[type="search"] {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
      height: 16px;
      width: 16px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
      background-size: 16px 16px;
      cursor: pointer;
    }
  }
}
