.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  gap: 24px;

  .logo_container {
    padding: 0;
    flex-shrink: 0;
  }

  .custom-input {
    max-width: 500px;
    flex: 1;
  }
}

.theme-toggle {
  position: relative;
  top: 0;
  right: 0;
  flex-shrink: 0;
}
